@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    color: white;
    /* font-size: 0.9rem; */
    scroll-behavior: smooth;
    user-select: none;
    transition: all var(--transition-time) var(--transition-type);
}

:root {
    --bg-color: #181818;
    --forg-color: #282828;
    --border-color-01: #424242;
    --txt-desc-color: #B3B3B3;
    ;
    --b-radius-01: 10px;
    --b-radius-02: 30px;
    --txt-hover-color: #27E344;
    --transition-time: 0.3s;
    --transition-type: ease;
}
/* ==================POPUP===================== */
.pop{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.323);
    backdrop-filter: blur(2px);
}
.popup {
    

    background-color: var(--border-color-01);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }

  .popup h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
  }

  .popup p {
    font-size: 16px;
    color: var(--txt-desc-color);
    margin-bottom: 20px;
  }

  .popup a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }

  .popup a:hover {
    background-color: #0056b3;
  }
/* ================== UNIVERSAL====================== */
body {
    background-color: var(--bg-color);

}

body::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

}

hr {
    height: 1pt;
    border-color: var(--forg-color);
    margin: 20px 0px;
}

button {
    cursor: pointer;
    border: none;
}

/* ================ HERO SECTION ================ */
.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #181818C0;
    display: grid;
    grid-template-rows: 15% 1fr;


}

.hero-section::before {
    position: absolute;
    content: '';
    background-color: var(--bg-color);
    background-image: url('assets/images/bg-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    z-index: -99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-section::after {
    content: " ";
    position: absolute;
    bottom: 0;
    pointer-events: none;
    background: transparent;

    z-index: 3;
    left: 0;
    right: 0;
    box-shadow: 8px -2px 20px 20px var(--bg-color);

}

/* ---------> Hero Section Header Area */
.header-area {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area>img {
    width: 4rem;
    height: 4rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar ul li a {
    color: white;
    padding: 0rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all var(--transition-time) var(--transition-type);
}

/* .navbar ul li a::after {
    display: inline-block;
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--txt-hover-color);
    transition: all var(--transition-time) cubic-bezier(0.645, 0.045, 0.355, 1);
} */

.navbar ul li a:hover {
    border-bottom: 2px solid var(--txt-hover-color);
}

.navbar ul li a:hover {
    color: var(--txt-hover-color);
}

.top-btn {
    padding: 0.4rem 1rem;
    margin-right: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
    border-radius: var(--b-radius-01);
    cursor: pointer;
    transition: background-color var(--transition-time) var(--transition-type);

    &:hover {
        color: black;
        background-color: white;
        border: 2px solid white;
    }

}

/* --------> Hero Section Body Area */
.hero-body-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    &>div {
        padding: 5rem 0rem 7rem 4rem;
    }
}

/* --------> Hero Section Body LEFT */
.hero-body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &>h1 {
        color: white;
        font-size: 3rem;
    }

    &>p {
        font-size: 1rem;
    }
}

.hero-btns>button {
    padding: 0.4rem 0.8rem;
    border-radius: var(--b-radius-01);
    border: none;
    cursor: pointer;
    text-align: center;

}

.hero-btns .secondary-btn {
    background-color: transparent;
}

.hero-btns .primary-btn {
    color: black;
    line-height: 1.5rem;

    &>img {
        margin: 0px 0px -8px 5px;
        width: 1.5rem;
    }
}

/* --------> Hero Section Body RIGHT */
.hero-body-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}

.social-btns {
    width: max-content;
    padding: 0px 1rem;
    border-radius: var(--b-radius-01);
    position: relative;
    overflow: hidden;

    background-color: rgba(123, 121, 121, 0.099);
    box-shadow:
        -2px 3px 0px 0px rgb(255 255 255 / 20%);
}

.social-btns::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    /* Adjust the blur amount */
    z-index: 1;
    /* Place it behind the content */
}

& .social-btns>button {
    background-color: transparent;
    margin: 0.6rem 1.2rem;
    border: none;
    position: relative;
    z-index: 2;
}

& .social-btns i {
    font-size: 1.5rem;
}

/* ================== SKILLS SECTION =============== */
.skills-section {
    padding: 30px 0px;
}

.heading-wrapper {
    margin-bottom: 20px;

    & .desc {
        color: var(--txt-desc-color);
        font-size: 0.7rem;
    }

    &>* {
        text-align: center;
        margin: 0 auto;
        width: 60%;
    }
}

.heading {
    font-size: 1.3rem;
    font-weight: normal;

    & span {
        color: white;
        /* font-weight: 200; */
        vertical-align: top;
        line-height: 30px;
        margin-right: 10px;
        font-size: 0.8rem;
    }
}

.skill-cards-container {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

/* Gradient shadows on container edges */
.skill-cards-container::before,
.skill-cards-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.skill-cards-container::before {
    left: 0;
    background: linear-gradient(to right, var(--bg-color), transparent);
}

.skill-cards-container::after {
    right: 0;
    background: linear-gradient(to left, var(--bg-color), transparent);
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper {
    display: flex;
    gap: 10px;
    cursor: grab;
}

.swiper-wrapper.dragging {
    cursor: grabbing;
    user-select: none;
}

/* Ensure each slide displays its cards */
.swiper-slide {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* Card styles */
.swiper-slide .card {
    background: var(--forg-color);
    border-radius: var(--b-radius-01);
    padding: 25px 20px;
    transition: all var(--transition-time) var(--transition-type);
    border: 1pt solid var(--border-color-01);
    margin-bottom: 5px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.373);

    & * {
        padding: 2px 5px;
        transition: all var(--transition-time) var(--transition-type);
    }

    height: 12rem;
    overflow: hidden;

    & .skill-count {
        font-size: 1.5rem;
        font-weight: 200;
    }

    & .skill-name {
        font-size: 0.8rem;
    }

    & .skill-tag {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }

    & .skill-tag .tag-icon>img {
        width: 3rem;
        height: 2rem;
    }

    & .skill-tag .tag-name {
        border-radius: var(--b-radius-02);
        background-color: var(--bg-color);
        font-size: 0.5rem;
        padding: 4px 8px;
        height: max-content;
    }

    & .skill-desc {
        font-size: 0.6rem;
        color: var(--txt-desc-color);
    }

    &:hover {
        transform: translateY(-5px) scale(1.01);
        cursor: pointer;
        background-color: var(--bg-color);
        border-color: var(--txt-hover-color);

        & .skill-name {
            color: var(--txt-hover-color);
        }


        & .skill-tag .tag-name {

            background-color: var(--forg-color);

        }
    }
}

/* ================= PROJECTS-WORK ============= */
.work-section {
    padding: 2rem 1rem;
}

.work-section-wrapper {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.project-card {
    padding: 1.5rem 1.5rem 0rem 0rem;
    border-radius: var(--b-radius-01);
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 50% 50%;
    gap: 3rem;
    background-color: var(--forg-color);



    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 5px var(--forg-color);
        transform: translateY(-5px);
    }
}

.project-card-header {
    grid-area: span 1/span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3rem;

}

.project-card-header h4 {
    font-weight: 400;
    color: var(--txt-desc-color);
    text-transform: uppercase;
}

.project-card-img {

    overflow: hidden;

    will-change: auto;
}

.project-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0rem var(--b-radius-01) 0rem var(--b-radius-01);
}

.project-card-info {
    padding: 0rem 2rem 0rem 1rem;
    margin: auto;
}

.project-card-info h1 {
    font-size: 2rem;
    font-weight: 500;
}

.project-card-info p {
    font-size: 0.8rem;
    color: var(--txt-desc-color);
    padding: 0rem 6rem 1rem 0rem;
}

.project-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 3rem; */
}

.project-icons img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 0.05rem;
    border-radius: var(--b-radius-01);
    background: var(--border-color-01);
    padding: 0.1rem;
}

/* ================= BLOG SECTION ============== */
.blog-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 70%;
    padding: 1rem 4rem;
}

.blog-section .blog-img-card {
    flex: 1;
    width: 60%;
    height: 250px;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 70% 30%;

    & .image-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: var(--b-radius-01);
        /* border: 2px solid green; */
        /* background: url('assets/images/blog/blog-1.webp') center/cover; */
    }

    & .image-wrapper>img {
        width: 100%;
        height: 100%;
        border-radius: var(--b-radius-01);
        object-fit: cover;
    }

    & .blog-btn {
        /* border: 2px solid yellow; */
        padding: 10px 0px 0px 10px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: var(--bg-color);
        border-top-left-radius: var(--b-radius-01);
    }

    & .blog-btn button {
        border-radius: var(--b-radius-01);
        width: 100%;
        height: 100%;
        color: black;
        /* line-height: 12px; */
        font-size: 0.8rem;
    }

    & .blog-btn button img {
        width: 20px;
        vertical-align: middle;
    }
}

.blog-section .blog-text {
    flex: 1.5;

    &>* {
        margin-bottom: 10px;
    }

    & .blog-text-heading {
        font-weight: normal;
    }


    & .blog-text-detail {
        font-size: 0.8rem;
        padding-right: 20%;
        color: var(--txt-desc-color);
    }
}

/* ================= FOOTER ==================== */
footer {
    display: flex;
    flex-direction: row;

    & * {
        color: var(--txt-desc-color);
    }
}

footer .about-info {
    padding: 0rem 5rem 1rem 4rem;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: small;

    /* &>.about-self {
        color: white;
    } */
    &>.about-name {
        color: white;
    }

    &>* {
        margin-bottom: 10px;
    }

}



footer .support-info {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 0rem 5rem 1rem 4rem;

    & p {
        font-weight: 500;
        font-size: 0.9rem;
        color: white;
    }

    & ul li {
        color: var(--txt-desc-color);
        font-size: small;
        margin: 20px 0px;
    }
}

/* ================SCROLL to TOP ============ */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: conic-gradient(var(--txt-hover-color) 0%, var(--border-color-01) 0%);
    cursor: pointer;
    display: none;
    transition: all var(--transition-time) ease;
    z-index: 999;
}

.scroll-to-top.visible {
    display: block;
    animation: fadeIn var(--transition-time) ease-in-out;
}

.scroll-to-top:hover {
    transform: scale(1.05);
}

.scroll-to-top .inner-circle {
    position: absolute;
    inset: 2px;
    background: var(--border-color-01);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-to-top i {
    color: white;
    font-size: 1rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-to-top {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ============== TOOLTIP ============== */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 12px;
}

/* Show the tooltip on hover */
.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}